.adminView {


  .card {
    margin-bottom: 10px;

    .card-body {
      padding: 0px;
      
      table {
        margin: 0px;

        tr.selected {
          background-color: #eee;
        }
      }
    }

    .card-footer {
      display: flex;
      flex-direction: row;

      p {
        display: inline-block;
        margin: 0;

        &.author {
          margin-left: auto !important;
        }
      }
    }
  }
}