.comparable {
  display: flex;
  flex-direction: row;
  width: 35%;
  pointer-events: all;
  justify-content: space-between;

  .comparableNumber {
    color: red;
  }
}

#linkToECV {
  color: grey;
}

.fa-times-circle {
  align-self: flex-end;
  margin-top: 1vh;
}

.tooltipWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}