.LoginPage,
.FirstLoginPage {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-image: url('../styles/Map.png');
  background-repeat: no-repeat;
  overflow: hidden;

  .LoginPageInner,
  .RequestUserData {
    width: 100%;
    height: 85%;
    background-image: url('../styles/wave.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10px;
    align-self: flex-end;
    text-align: center;
    overflow: hidden;
      
    .container-fluid {
      height: 100%;
      padding: 0px;

      div div {
        transition: all 250ms ease;
      }
    }

    .logotype {
      max-width: 20%;
      padding: 0px 0px 0px 0px;
    }

    .media {
      text-align: left;
    }

    .signInPage form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .signInPage input {
      margin-bottom: -15px;
    }

    .signUpPage input,
    .passwordResetPage input,
    .userDataForm input {
      margin-bottom: 10px;
    }

    .userDataForm .form-check {
      margin: 10px;
    }

    .content {
      margin: 0px;
      padding-top: 25px;
      width: 100%;
      height: 100%;
      background: #fff;

      form {
        margin-bottom: 20px;
      }
    }
  }

  p.error {
    color: #ff0000;
    padding-top: 10px;
  }
}