.privacyView {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw;
  height: 100vh;

  .privacyTop {
    display: flex;
    flex-direction: column;
    
    h3 {
      align-self: center;
    }
  }
}