.searchView {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 147px;
    min-height: 90px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #a3a3a3;
    font-weight: bold;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    #searchField {
      flex: 5;

      .inp {
        position: relative;
        margin: auto;
        width: 100%;
        padding-left: 10px;

        @media (min-width: 768px) {
          width: calc(50% - 40px);
          padding: 10px;
        }

        .label {
          position: absolute;
          top: 5vh;
          left: 30px;
          font-size: 16px;
          color: black;
          transform-origin: 0 0;
          transition: all 0.2s ease;
        }

        i {
          position: absolute;
          left: -25px;
        }

        #location {
          width: 100%;
          height: 10px;
        }

        input {
          -webkit-appearance: none;
          width: 100%;
          border: 0;
          font-family: inherit;
          padding: 22px 0;
          font-weight: bold;
          font-size: large;
          background: none;
          color: #223254;
          transition: all 0.15s ease;
          margin-left: 20px;

          &:not(:placeholder-shown) + span {
            color: #5a667f;
            transform: translateY(-26px) scale(0.75);
          }
          &:focus {
            background: none;
            outline: none;
          }
          &:focus + span {
            color: #07f;
            transform: translateY(-26px) scale(0.75);
          }
          &:focus + span + .border {
            transform: scaleX(1);
          }
        }
      }
    }

    #goBtn {
      flex: 1 1;
      height: 100%;

      button {
        height: 100%;
      }

      #goLogo {
        max-height: calc(100% - 20px);
        max-width: 100%;
      }
    }
  }

  #main {
    display: flex;
    height: calc(100% - 150px);
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 500px) {
      align-self: center;
      width: 55vw;
    }

    p {
      font-weight: bold;
    }
  }

  /* Logout styling */
  .logout {
    position: absolute;
    bottom: 0;
    background-color: #ff3a3a;
    right: 0;
    width: 60px;
    height: 60px;
    border-top-left-radius: 50px;
    transition: ease 0.2s all;
    outline-color: transparent;

    &.open {
      width: 150px;
    }
  }

  .optionIcon {
    position: absolute;
    top: 30%;
    left: 20px;
  }

  .signOut {
    position: absolute;
    top: 30%;
    right: 15px;
    color: white;
    font-size: large;
    white-space: nowrap;
  }
  /* -------------------- */
}

svg {
  transition: ease 0.3s all;
}

/* AUTOCOMPLETE STYLING */
.pac-container {
  top: 130px !important;
  left: 0 !important;
  width: 100% !important;
}

.pac-item {
  line-height: 50px;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  margin-left: 25px;
  font-weight: bold;
  font-size: medium;
}
/* -------------------- */
