@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  @media only screen and (orientation: landscape) {
    // Special css rules to account for landscape mode.
    .label {
      top: 8vh !important;
    }
    #main {
      height: 70vh;
      width: 100%;
      overflow: scroll;
    }
    .searchView {
      height: 100vh;
    }
    .infoView {
      height: auto;
      padding: 2vw 8vw 0 8vw;
    }
    .bgImg {
      height: 550px;
    }
  }

  a {
    color: black;
  }
}

.bgImg {
  background-image: url("styles/Map.png");
  position: absolute;
  height: 816px;
  @media only screen and (min-width: 500px) {
    height: 100vh;
  }
  width: 100vw;
  z-index: -1;
}

.blurImg {
  background-image: url("styles/Map.png");
  filter: blur(5px);
  position: absolute;
  min-height: 526px;
  max-height: 816px;
  @media only screen and (min-width: 500px) {
    height: 100vh;
  }
  width: 100vw;
  z-index: -1;
}

p {
  margin: 1px;
  font-family: "Raleway", sans-serif;
}

.emission {
  flex: 1;
  text-align: center;
  align-content: center;
}

/* AUTOCOMPLETE STYLING */
.slideUp-enter {
  opacity: 0;
  transform: translateY(400px);
}

.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: ease 300ms all;
}

.slideUp-exit {
  opacity: 1;
}

.slideUp-exit-active {
  opacity: 0;
  transform: translateY(400px);
  transition: ease 300ms all;
}

.slideDown-enter {
  opacity: 0;
  transform: translateY(-400px);
}

.slideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: ease 300ms all;
}

.slideDown-exit {
  opacity: 1;
}

.slideDown-exit-active {
  opacity: 0;
  transform: translateY(-400px);
  transition: ease 300ms all;
}

.slideRight-enter {
  opacity: 0;
  transform: translateX(400px);
}

.slideRight-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: ease 300ms all;
}

.slideRight-exit {
  opacity: 1;
}

.slideRight-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: ease 300ms all;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: ease 300ms all;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: ease 300ms all;
}
/* -------------------- */


/* BOOTSTRAP OVERWRITE */
.btn-success {
  background-color: rgb(89,194,57);
  border-color: rgb(79,184,47);
  width: 55vw;
}

.btn-success:hover {
  background-color: rgb(69,174,37);
  border-color: rgb(59,164,27);
}
/* -------------------- */
