@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(50, 50, 50);

  @media only screen and (orientation: landscape) and (max-width: 700px) {
    // Special css rules to account for landscape mode.
    .label {
      top: 8vh !important;
    }
    #main {
      height: 70%;
      width: 100%;
      overflow: scroll;
    }
    .searchView {
      height: 100vh;
    }
    .infoView {
      height: 70%;
      width: 90%;
      padding: 2vw 8vw 0 8vw;
    }
  }

  a {
    color: black;
  }
}

.bgImg {
  background-image: url("styles/map_stockholm.png");
  position: absolute;
  top: 125px;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-repeat: repeat-y;
}

.blurImg {
  background-image: url("styles/map_stockholm.png");
  filter: blur(5px);
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

p {
  margin: 1px;
  font-family: "Raleway", sans-serif;
}

.emission {
  flex: 1;
  text-align: center;
  align-content: center;
}

/* AUTOCOMPLETE STYLING */
.slideUp-enter {
  opacity: 0;
  transform: translateY(400px);
}

.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: ease 300ms all;
}

.slideUp-exit {
  opacity: 1;
}

.slideUp-exit-active {
  opacity: 0;
  transform: translateY(400px);
  transition: ease 300ms all;
}

.slideDown-enter {
  opacity: 0;
  transform: translateY(-400px);
}

.slideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: ease 300ms all;
}

.slideDown-exit {
  opacity: 1;
}

.slideDown-exit-active {
  opacity: 0;
  transform: translateY(-400px);
  transition: ease 300ms all;
}

.slideRight-enter {
  opacity: 0;
  transform: translateX(400px);
}

.slideRight-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: ease 300ms all;
}

.slideRight-exit {
  opacity: 1;
}

.slideRight-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: ease 300ms all;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: ease 300ms all;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: ease 300ms all;
}
/* -------------------- */

/* BOOTSTRAP OVERWRITE */
.btn-success {
  background-color: rgb(89, 194, 57);
  border-color: rgb(79, 184, 47);
  width: 55vw;
}

.btn-success:hover {
  background-color: rgb(69, 174, 37);
  border-color: rgb(59, 164, 27);
}
/* -------------------- */
